.question {
  background-color: var(--bg2);
  border-radius: 8px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
  padding: 24px;

  // except the first the rest will receive mt 8px
  & + .question {
    margin-top: 8px;
  }

  p {
    color: var(--text);
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;

    .user-info {
      display: flex;
      align-items: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      span {
        margin-left: 8px;
        color: var(--grey);
        font-size: 14px;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
      transition: filter 0.2s;

      &.like-button {
        display: flex;
        align-items: flex-end;
        color: var(--grey);
        gap: 8px;

        &.liked {
          color: var(--purple);

          svg path  {
            stroke: var(--purple);
          }
        }
      }

      &:hover {
        filter: brightness(0.6);
      }
    }
  }
}
